[color]
    ui = true
    branch = true
    diff = true
    interactive = true
    status = true
[color "status"]
    added = green
    changed = red 
    deleted = red
    untracked = yellow
[user]
	name = Kevin Eschbach
	email = 64735549+kevin-eschbach@users.noreply.github.com
[core]
	autocrlf = false 
	whitespace = cr-at-eol
    editor = nvim
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
